<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测试平台</title>
    <!--在线CND资源-->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://v3.bootcss.com/examples/dashboard/dashboard.css" rel="stylesheet">
    {% load static %}
<!--    <script type="text/javascript" src="{% static "js/myCase.js" %}"></script>-->
</head>

<body>
    {% block base %}

    {% endblock %}
    <div class="container there-showcase" role="main" style="float:right; width: 80%;">
        <div class="page-header"></div>
        <footer class="footer">
            <p>&copy; Company 测试平台; Author: 玄月, 2019</p>
        </footer>
    </div>
</body>
</html>